.bowling {
  &__frames {
    display: flex;
    justify-content: center;
  }

  &__frame {
    border: 1px solid black;
    width: 70px;
    height: 80px;
    margin-right: 5px;

    &--res {
      margin-top: 20px;
    }

    span {
      float: right;
      width: 30px;
      height: 40px;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    }
  }
}